geopandas           == 0.10.2
ipykernel           == 6.16.2
matplotlib          == 3.5.3
numpy               == 1.21.6
pandas              == 1.2.5
rasterio            == 1.2.10
affine              == 2.4.0
anyio               
arrow               == 1.2.3
babel               == 2.11.0
backcall            == 0.2.0
boto3               == 1.26.63
botocore            == 1.29.63
certifi             == 2022.12.07
cffi                == 1.15.1
charset_normalizer  == 3.0.1
click               == 8.1.3
colorama            == 0.4.6
cycler              == 0.10.0
debugpy             == 1.6.6
decorator           == 5.1.1
defusedxml          == 0.7.1
entrypoints         == 0.4
fastjsonschema      
fiona               == 1.8.21
fqdn                
google              
idna                == 3.4
importlib_metadata  
importlib_resources 
ipython_genutils    == 0.2.0
isoduration         
jedi                == 0.18.2
jinja2              == 3.1.2
jmespath            == 1.0.1
json5               
jsonpointer         == 2.3
jsonschema          == 4.17.3
jupyter_server      == 1.23.5
jupyterlab_server   == 2.19.0
kiwisolver          == 1.4.4
markupsafe          == 2.1.2
nbformat            == 5.7.3
packaging           == 23.0
parso               == 0.8.3
pickleshare         == 0.7.5
prometheus_client   
prompt_toolkit      == 3.0.36
psutil              == 5.9.4
pydevd              == 2.9.5
pygeos              == 0.14
pygments            == 2.14.0
pyparsing           == 3.0.9
pyproj              == 3.2.1
pyrsistent          
pytz                == 2022.7.1
requests            == 2.28.2
rfc3339_validator   == 0.1.4
rfc3986_validator   == 0.1.1
rtree               == 1.0.1
send2trash          
setuptools          == 67.8.0
shapely             == 1.8.2
simplejson          == 3.19.2
six                 == 1.16.0
sniffio             == 1.3.0
terminado           == 0.17.1
tornado             == 6.2
traitlets           == 5.9.0
uri_template        
urllib3             == 1.26.14
wcwidth             == 0.2.6
webcolors           == 1.11.1
zipp                
IPython             == 7.34.0
jupyter_client      == 7.4.9
jupyter_core        == 4.12.0
jupyterlab          == 3.6.1
notebook            == 6.5.2
Pillow              == 9.4.0
attrs               == 22.2.0
python-dateutil     == 2.8.2